<div class="jumbotron">
  <h1>Board Members</h1>
  <p>
  <a href="mailto:ronnt42@gmail.com">Ron Thompson</a> - President<br>
  <a href="mailto:tomanicats@sbs.global.net">Don Tomanica</a> - Vice President<br>
  <a href="mailto:closer43@aol.com">Laura VanHise</a> - Secretary<br>
  <a href="mailto:jdsk44@verizon.net">John Elifson</a> - Treasurer<br>
  <a href="mailto:bob.ohlwiler@gmail.com">Bob Ohlwiler</a> - Director At Large
  </p>

  <h1>Architectural Committee</h1>
  <p>
  <a href="mailto:ohlwilera@gmail.com">Anita Ohlwiler</a> - Chairperson<br>
  Bob Schleyer<br>
  </p>

  <h1>Landscaping Committee</h1>
  <p><a href="mailto:neilcanalungo@gmail.com">Neil Canalungo</a> - Chairperson<br>
  Bob McKenzie
  </p>
</div>
