<div class="jumbotron">
  <h1>Board Members</h1>
  <p>
  <a href="mailto:angelacanalungo3@gmail.com">Angela Canalungo</a> - President<br>
  <a href="mailto:jdsk44@verizon.net">John Elifson</a> - Vice President<br>
  <a href="mailto:cmac_mau@yahoo.com">Cathie McKenzie</a> - Treasurer<br>
  <a href="mailto:jafranso1@yahoo.com">Janice Frandsen</a> - Secretary<br>
  <a href="mailto:dmaddock22@gmail.com">Donna Maddock</a> - Director At Large<br>
  <a href="mailto:drffsp@yahoo.com">Francisco Fernandes</a> - Director At Large
  </p>

  <h1>Architectural Committee</h1>
  <p><a href="mailto:bob@schleyer.com">Bob Schleyer</a> - Chairperson<br>
  </p>

  <h1>Landscaping Committee</h1>
  <p><a href="mailto:dmaddock22@gmail.com">Donna Maddock</a> - Chairperson<br>
  </p>
</div>
