<div class="jumbotron">
  <h1>Downloads</h1>
  <p>
  <a href="/files/hoa_mtg_proxy.doc">HOA MTG Proxy Form</a><br>
  <a href="/files/sldr.pdf">Silver Lakes Deed Restrictions</a><br>
  <a href="/files/neighbor-policy.docx">Deed Restrictions Addendum: Neighbor-to-Neighbor policy</a><br>
  <a href="/filesoads/by_laws.pdf">Silver Lakes Homeowners' Association By-Laws</a><br>
  <a href="/files/waterrestrict.doc">Water Management Restrictions</a><br>
  <a href="/files/directory.doc">Silver Lakes Directory</a><br>
  <a href="/files/hoa-acc-request.pdf">Silver Lakes HOA ACC Request</a>
  </p>
</div>
