<div class="jumbotron">
  <h1>News</h1>
  <hr>
  <div class="card">
    <div class="card-block">
      <h4>2018 HOA Dues</h4>
      <p>Next Dues are $350 to be paid by January 1, 2018.</p>
    </div>
    <div class="card-footer text-muted">
      November 12th, 2017
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4>Property Changes</h4>
      <p>Any changes to your property must be approved prior to work being commenced. The approval form can be downloaded <a href="https://silverlakeslol.com/files/hoa-acc-request.pdf">here</a>.</p>
    </div>
    <div class="card-footer text-muted">
      December 20th, 2016
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4>2017 HOA Dues</h4>
      <p>Next Dues are $350 to be paid by January 1, 2017.</p>
    </div>
    <div class="card-footer text-muted">
      December 20th, 2016
    </div>
  </div>
</div>
