<div class="jumbotron">
  <h1>News</h1>
  <hr>
  <div class="card">
    <div class="card-block">
      <h4>HOA Dues</h4>
      <p>Next Dues are $325 paid by July 1, 2016. Reminder that dues for 2017 will increase to $700 a year or $350 semi-annually.</p>
    </div>
    <div class="card-footer text-muted">
      April 9th, 2016
    </div>
  </div>
</div>
