<div class="text-center page-header">
	<div class="watermark">
		<span style="opacity: 0.4; color: #ffffff; position: absolute; right: 10px; bottom: 20px;">Photo by: Cathie McKenzie</span>
	</div>
</div>