<nav class="navbar navbar-light bg-faded">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
	<div class="collapse navbar-toggleable-xs" id="navbar-header">
		<a class="navbar-brand" href="#">Silver Lakes HOA</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Files</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Board Members</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shortcuts</a>
				<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
					<a class="dropdown-item" href="#">Florida 511</a>
					<a class="dropdown-item" href="#">Pasco County Government</a>
					<a class="dropdown-item" href="#">Land O' Lakes Weather</a>
					<a class="dropdown-item" href="#">My Florida</a>
					<a class="dropdown-item" href="#">Pasco County Utilities</a>
					<a class="dropdown-item" href="#">Duke Energy</a>
					<a class="dropdown-item" href="#">Frontier Communications</a>
					<a class="dropdown-item" href="#">Progressive Waste<br>(727) 777-6977</a>
				</div>
			</li>
		</ul>
	</div>
</nav>